<!DOCTYPE html>
<html>
<head>
    <title>Exemplo Web Pages Razor</title>
</head>
<body>
    @RenderPage("_cabecalho.cshtml")


    @RenderBody()






    @RenderPage("_rodape.cshtml")
</body>
</html>
