@{
    Layout = "_layouts.cshtml";
    Page.Title = "Página 1";
    //Layout = "Your Layout Page goes here";
}

    
        <!DOCTYPE html>
        <html>


        <head>
            <title> @Page.Title</title>
        </head>
        <body>

 
            <p> Conteúdo da página 1</p>

            <p>Olá Mundo!</p>
            <p>Página 1</p>
            <p>Olá ASP.NET</p>
            <p>@DateTime.Now </p>
            
  
        </body>

    </html>
